.margin{
    padding-top: 2rem;
}

.margin2{
    padding-top: 7rem;
}

.bgfull{
    background-color: rgba(59, 132, 75, 0.55);
}

.nav1{
    font-family: Lekton, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 32px;
    /* identical to box height, or 89% */

    letter-spacing: 4px;

    color: #5F1E1E;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav2{

    font-family: Lekton, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 2px;

    color: #000000;
}

.form-group {
    margin-bottom: 1rem; }

.borderr{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.gray{
    background-color: #F3F3F3;
}

.w-85{
    width: 85% !important; }

    form input[type="text"]:focus { outline-color: #c41617; 
}

.ps{
height: 24px;
left: 65.97%;
right: 29.31%;
top: calc(50% - 24px/2 - 465px);

/* Regular 14 */

font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
line-height: 24px;
/* identical to box height, or 171% */


/* Colour/Main/Blue/500 */

color: #505F98;
}

.pl{
    padding-left: 2px;
}
